//sass - e way of providing on hover/active/focus rules
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}


//NetNinja's SASS-made flex grid
@mixin grid($col, $mgn) {
  float: left;
  margin-right: $mgn;
  margin-bottom: $mgn;
  width: ((100% - (($col - 1) * $mgn)) / $col);
  &:nth-child(#{$col}n){
    margin-right: 0;
  }
}

@mixin card {
  border: $card-border;
  box-shadow: $card-box-shadow;
  text-align: $card-text-align;
  padding: $card-padding;
  height: $card-height;
  margin-top: $card-margin-top;
}
