//sass - e way of providing on hover/active/focus rules
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}


//NetNinja's SASS-made flex grid
@mixin grid($col, $mgn) {
  float: left;
  margin-right: $mgn;
  margin-bottom: $mgn;
  width: ((100% - (($col - 1) * $mgn)) / $col);
  &:nth-child(#{$col}n){
    margin-right: 0;
  }
}

//mQ mixin
// @mixin mQ($args...){
//   @if length($args) == 1{
//     @media screen and (max-width: nth($args, 1)){
//       @content;
//     }
//   }
//   @if length($args) == 2{
//     @media screen and (max-width: nth($args, 1)) and (min-width: nth($args, 2)){
//       @content;
//     }
//   }
// }

//card mixin
@mixin card {
  border: $card-border;
  box-shadow: $card-box-shadow;
  text-align: $card-text-align;
  padding: $card-padding-sm;
  // height: $card-height;
  margin-top: $card-margin-top;
}

//border-radius mixin
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
