//color variables
// $primary-color:
// $secondary-color:
// $tertiary-color:
// $primary-text:
// $secondary-text:


//grid variables
$grid-columns: 12;
$grid-max-width-md: 720px;
$grid-max-width: 1200px;


//breakpoint variables
// $breakpoint-small: "only screen and (min-width: 550px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1000px)";
