//color variables
$color-offblack: rgba(42, 43, 46, 1);
$color-linen: rgba(247, 243, 227, 1);
$color-grey: rgba(90, 90, 102, 1);
$color-green: rgba(164, 194, 168, 1);
$color-black: rgba(8, 9, 10, 1);

//hero variables
$hero-image-url: url("../img/nose.jpg");
$hero-height-default: 400px;
$hero-height-md: 510px;
$hero-height-lg: 666px;


//grid variables
$grid-columns: 12;
$grid-max-width-md: 720px;
$grid-max-width: 1200px;

//card-variables
$card-border: solid 1px lightgray;
$card-box-shadow: 1px 1px 5px #888888;
$card-display: inline-block;
$card-text-align: center;
$card-margin-top: 40px;
$card-height: 400px;
$card-padding: 50px 0;


//breakpoint variables
// $breakpoint-small: "only screen and (min-width: 550px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1000px)";
