section.header {
  background: $hero-image-url center no-repeat;
  height: $hero-height-default;
  width: 100%;
  background-size: cover;
  position: relative;
  & .title {
    position: absolute;
    top: 64%;
    left: 8%;
  }
}
