section.header {
  background: $hero-image-url center no-repeat;
  height: $hero-height-default;
  width: 100%;
  background-size: cover;
  position: relative;
  & .title {
    position: absolute;
    top: 56%;
    left: 12%;
    & h2 {
      font-size: 2.5em;
      font-weight: 300;
      margin-bottom: 0;
    }
    & h4 {
      margin-top: 5px;
    }
    & i {
      padding: 0 4px;
    }
  }
}
