nav.col-lg-12 {
  background-color: lightblue;
  padding: 0;
  & .nav-brand {
    & img {
    }
    & p {
      margin: 0;
    }
  }
  & .nav-list {
    & ul {
      list-style: none;
      display: inline-flex;
      padding-left: 0;
      & li {
        padding-left: 3em;
      }
    }
  }
}
